<div class='col-md-8 offset-md-2'>
 <div class='card mt-3 border-dark'>
  <div class='card-header text-center border-dark'>
   <h4><strong>らんきんぐ</strong></h4>
  </div>
   <div class='card-body'>
    <%= render 'rank', ranks: @rank %>
   </div>
  </div>
 </div>