<div class='card mt-3 w-75 border-dark'>
  <div class='card-header border-dark'>
    <h5>今日はさぼりましたか？</h5>
  </div>
  <div class="card-body border-dark">
    <div class="card-text">
      下のぼたんからめも出来ます。
    </div>
    <div class='field text-center'>
      <%= link_to 'めもる', new_post_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>