<div class='container' >
  <div class='row'>
    <div class='col-md-12 text-center py-5'>
      <div class='welcome mt-3'>
        <div class='top mr-3'>
          <h1><strong>さぼめの使い方</strong></h1>
        </div>
        <div class='sub mt-5 mr-3'>
          <h4>使い方は簡単。</h4>
        </div>
        <div class='text-center'>
          <div class="top-discription col-md-6 ml-5 mt-5">
              1.今日何してさぼったか書こう。<br>
              2.何時間サボったか記入しよう。<br>
              3.最後に、その日の充実度を選択しよう。
            <%= image_tag 'about.png', :size =>'550x300' %>
          </div>
          <div class="top-discription mt-5">
            4.他の人のにいいねしよう。
            <%= image_tag 'about2.png', :size =>'600x300' %>
          </div>
          <div class="top-discription col-md-6 mt-5">
            5.いいねを多くもらったららんきんぐにも乗ります。
            <%= image_tag 'about3.png', :size =>'550x300' %>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-12 text-center py-5'>
      <div class='top mr-3'>
        <h2><strong>注意事項</strong></h2>
      </div>
      <div class='sub mt-5  mr-3'>
        <h3>このような人はこのめも帳をおすすめしません。</h3>
      </div>
      <div class='text-center mt-5'>
        <h4>
       ・めりはりをつけれる方。<br>
       ・やる気がある方。<br>
       ・人生を充実してる方。<br>
       ・そもそもさぼりに罪悪感を感じない方。<br>
        </h4>
        以上4点となります。これに当てはまらない方、ぜひよいさぼりらいふをお過ごしください。
      </div>
    </div>
  </div>
</div>


