<div class="matrix anim">
  <span class="bg-wrap"><span class="inn large">文字がぬるりと現れる</span></span>
  <span class="bg-wrap"><span class="inn small">サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト<br>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト<br>サンプルテキストサンプルテキストサンプルテキスト</span></span>
</div>
