<div class='container' >
 <div class='row'>
  <div class='col-md-12 text-center py-5'>
   <h1><strong>投稿できました！！</strong></h1>
    <div class='mt-5'>
      管理人からのひとこと：さぼってんな。勉強しろ。
    </div>
     <%= image_tag 'pf3.png', :size =>'350x350' %>
      <div class='mt-5'>
       <%= link_to user_path(current_user),class: 'btn btn-outline-dark' do %>
       <h4>まいぺーじにもどる</h4>
       <% end %>
      </div>
  </div>
 </div>
</div>