<div class='card mt-3 w-75 border-dark'>
  <div class='card-header border-dark'>
    <h5>ほかのらんきんぐもみませんか？</h5>
  </div>
  <div class="card-body border-dark">
    <div class="card-text">
      下のぼたんから選んでください
    </div>
    <div class='field text-center'>
      <%= link_to 'みんなの投稿', ranks_path, class: "btn btn-outline-dark" %>
    </div>
  </div>
</div>