<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
      <%= render 'info' %>
    </div>
    <div class='col-sm-8'>
      <div class='card mt-3 border-dark'>
        <div class='card-header text-center border-dark'>
          <h4><strong>あなたの投稿らんきんぐ</strong></h4>
        </div>
          <div class='card-body'>
            <%= render 'myrank', ranks: @rank %>
          </div>
      </div>
     </div>
  </div>
</div>