<footer>
  <div class='container-fluid pt-2 pb-2 bg-light'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p>©さぼめも</p>
    	<div class="ml-1">
       <h4><i class="fab fa-instagram-square"></i>
    			<i class="fab fa-facebook-square"></i>
    			<i class="fab fa-twitter-square"></i></h4>
    			</div>
    	</div>
    </div>
  </div>
</footer>